header {
  width: 100%;
  height: 100px;
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

header a {
  /* text-decoration: none; */
  color: #fff;
  font-size: 14px;
}

header a + a {
  margin-left: 10px;
}
